@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0f4;
    font-family: "Montserrat", serif;
    font-weight: 400;
     /* Estilos da navbar */
     .navbar {
        background-color:#696969;
        padding: 10px 40px;
        text-align: center;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px 40px;
        border: 10px;
        display: inline-block;
    }

    .navbar a:hover {
        background-color: #808080;
    }
}

header {
    background-color: #A9A9A9;
    text-align: center;
    color: gray;
    font-size: 25px;
    padding: 2rem;
    margin: 50px, 150px, 50px, 150px;
    white-space: nowrap; /* Impede que o texto quebre */
    max-width: 100%; /* Impede que ultrapasse a tela */
}

h2 {
    text-align: center;
    color: gray;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

input {
    display: block; /* Garante que o input seja tratado como um bloco */
    margin: 0 auto; /* Centraliza o input horizontalmente */
    width: 200px; /* Defina uma largura para o input */
    border: 2px solid #808080;
    border-radius: 5px;
}

label {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 200px; /* Defina a largura da label se necessário */
}

button {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 200px; /* Defina a largura da label se necessário */
    cursor: pointer;
}

fieldset {
    display: block;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    border: 2px solid #696969; /* Borda escura */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px;
}

footer {
    padding: 2rem;
    text-align: center;
}

a {
    color: #696969;
}